---
import { getCollection } from "astro:content";
export interface Props {
    skip?: string
}
const allPosts = (await getCollection('posts', x => !x.data.archived && Astro.props.skip != x.slug)).sort( (a,b) => b.data.created.getTime() - a.data.created.getTime() )

---
<style>
    

.card {
    display: grid;
    gap: 1em;
    padding: 2em;
    transition: transform 0.5s, background-color 1s;
    background-color: var(--card-background-color);
    box-shadow: var(--card-highlight-shadow);
    border-radius: 1.5em;
}
.card:has(.subtitle) {
    gap: 1em;
}

.card .subtitle {
    opacity: 0.5;
    font-style: italic;
    font-size: 0.8em;
}

.card.featured:hover {
    transition: transform 0.1s, background-color 0.2s;
}
.card:hover {
    backface-visibility: hidden;
    transform: scale(1.05);
    background-color: var(--card-background-color-featured, rgba(0,0,0,0.05));
    transition: transform 0.1s, background-color 1s;
}

.card {
    transform: scale(1);
    transition: transform 0.5s, background-color 1s;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.1s, background-color 0.2s;
}

.card.featured {
    color: var(--card-color-featured);
    background-color: var(--card-background-color-featured);
}


.posts-list {
    display: grid;
    gap: 1em;
    @media (min-width: 23em) {
        & {
            display: grid;
            gap: 1em 5em;
            justify-content: center;
            grid-template-columns: minmax(0em, 60em);
            gap: 4em;
        }
    }

    & * {
        margin: 0em;
        box-sizing: border-box;
    }

    & a, & a:visited {
        color: var(--link-color);
        text-decoration: none;
    }


    & .list {
        display: grid;
    }

    @media ( max-width: 30em ) {
        & {
            gap: 3em 1em;
        }
        & .list {
            display: grid;
            gap: 1em;
        }
    
        & .list ul {
            display: grid;
            gap: 1em 3em;
            grid-template-columns: 1fr;
            list-style: none;
            margin: 0em;
            padding: 0em;
        }
    }
    @media ( min-width: 30em ) {

        & .list ul {
            display: grid;
            gap: 1em 3em;
            grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
            list-style: none;
            margin: 0em;
            padding: 0em;
        }
    }

    @media (max-width: 80em) {
        & .list {
            gap: 1em;
        }
    }

    @media (min-width: 80em) {
        & .list {
            display: grid;
            --gutter: 10em;
            grid-template-columns: var(--gutter) 1fr; 
            margin-left: calc( var(--gutter) * -1 );
        }
    }

}

.rss {
    
    display: grid;
    h4 {
        margin: 0em;
    }

    @media (max-width: 80em) {
        & {
            gap: 1em;
        }
    }

    @media (min-width: 80em) {
        & {
            display: grid;
            --gutter: 10em;
            grid-template-columns: var(--gutter) 1fr; 
            margin-left: calc( var(--gutter) * -1 );
        }
    }

    & ul {
        padding: 0em;
        list-style: none;
    }

    & p {
        margin: 0em;
    }

    & .list {
        display: grid;
    }

  

    @media ( max-width: 30em ) {
        & {
            gap: 3em 1em;
        }
        & .list {
            display: grid;
            gap: 1em;
        }

        & .list {
            display: grid;
            gap: 1em 3em;
            grid-template-columns: 1fr;
            list-style: none;
            margin: 0em;
            padding: 0em;
        }
    }
    @media ( min-width: 30em ) {

        & .list {
            display: grid;
            gap: 1em 3em;
            grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
            list-style: none;
            margin: 0em;
            padding: 0em;
        }
    }

    & .date {
        font-size: 0.8em;
    }
}
</style>

<div class="posts-list">
    <div class="list recent">
        <h4>Recent articles</h4>
        <ul>
            {allPosts.slice(0,4).map( x => 
                <a href={`/posts/${x.slug}`}>
                    <li class:list={['card', x.data.featured && 'featured' ]}>
                        <p class="title">{x.data.title}</p>
                        {x.data.subtitle && <p class="subtitle">{x.data.subtitle}</p>}
                        <i>{new Intl.DateTimeFormat('en-US', { dateStyle: 'long' }).format(x.data.created)}</i>
                    </li>
                </a>
            )}
        </ul>
    </div>
    <div class="list rest">
        <h4>Previous articles</h4>
        <ul>
            {allPosts.slice(4).map( x => 
                <a href={`/posts/${x.slug}`}>
                    <li class:list={['card', x.data.featured && 'featured' ]}>
                        <p class="title">{x.data.title}</p>
                        {x.data.subtitle && <p class="subtitle">{x.data.subtitle}</p>}
                        <i>{new Intl.DateTimeFormat('en-US', { dateStyle: 'long' }).format(x.data.created)}</i>
                    </li>
                </a>
            )}
        </ul>
    </div>
</div>
<div class="rss">
    <h4>Feeds</h4>
    <ul class="rss-posts list">
        <a href="/feed/atom">
            <li class="card">Atom</li>
        </a>
        <a href="/feed/json">
            <li class="card">JSON</li>
        </a>
        <a href="/feed/rss">
            <li class="card">RSS</li>
        </a>
    </ul>
</div>